@import "../global.scss";
@media (max-width: 768px) {

    .certificate-container {
        padding: 1rem; 
        display: flex;
        flex-direction: column;
    }

    .certificate-title {
        font-size: 1.5rem; 
        line-height: 2rem;
    }

    .main-certificate {
        img {
            height: 15rem; 
            width: auto; 
        }
    }

    .certificate {
        img {
            height: 8rem; 
            width: auto; 
        }
    }
}

@media (max-width: 480px) {
    .certificate-container {
        padding: 0.5rem;
        display: flex;
        flex-direction: column; 
    }

    .certificate-title {
        font-size: 1.25rem; 
        line-height: 1.5rem;
    }

    .main-certificate {
        img {
            height: 10rem; 
            width: auto; 
        }
    }

    .certificate {
        img {
            height: 6rem; 
            width: auto;
        }
    }
}