@import "../global.scss";

.footer-container{
    font-family: $secondary-font;
    color: $background-color;
    background-color: $main-font-color;
    justify-content: center;
    text-align: center;
    height: 200px;
    display: flex;
    flex-direction: column;
}

.logos{
    height:auto;
    font-family: $main-font 
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
       
        img{
            width: 2.5rem;
            height: 2.5rem;
            gap: 1rem;
           
        }
    
}
.mail{
   cursor: pointer;

   &:hover{
      color: $secondary-color;
   }
}

.copy{
    cursor: pointer;
    &:hover{
       color: $secondary-color;
    }
}