@import "../global.scss"; 
.project-container {
    @media (max-width: 768px) {
        padding: 2rem; 
    }

    .heading h3 {
        @media (max-width: 768px) {
            font-size: 24px;
            line-height: 32px; 
        }
    }

    .heading p {
        @media (max-width: 768px) {
            font-size: 14px; 
            line-height: 20px; 
            margin-bottom: 1rem; 
    }

    .projectone {
        img {
            @media (max-width: 768px) {
                height: 20rem; 
                width: auto;
        }
    }
}
    }
.projectfour-container,
.projecttwo-container {
    @media (max-width: 768px) {
        flex-direction: column; 
        padding: 1rem;
    }

    img {
        @media (max-width: 768px) {
            height: 15rem; 
            width: auto; 
        }
    }
}

.projecttitlefour,
.projecttitletwo,
.projecttitlethree {
    @media (max-width: 768px) {
        font-size: 18px; 
    }
}
}


