@import "../global.scss";

// Project Container styles
.project__container {
  background: rgba(245, 198, 190, 1);
  box-sizing: border-box;
  padding: 2rem;
}

// Section styles
.projectheading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 5rem;

  /* Font & Text */
  font-family: Unbounded, "Unbounded Placeholder", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-variant: normal;
  letter-spacing: normal;
  line-height: 50.4px;
  text-decoration: none solid rgb(224, 52, 0);
  text-indent: 0px;
  text-transform: none;
  white-space: pre;
  word-spacing: 0px;
  color: rgb(224, 52, 0);
}

// Images Container styles
.project__images-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;

  // Image styles
  .project__images {
    transition: 0.5s;
  }
}
