@import "../global.scss";

.projecttwo-container{
    background-color:$background-color;
    font-family: $secondary-font;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: $main-font-color;
    padding: 2rem;
    gap: 1rem;
}

.projectlink{
    img{
        height: 20rem;
        width: 50rem;
    }
    
}

.projecttitletwo{
    font-weight: bolder;
}


.projectthreelink{
    img{
        height: 20rem;
        width: 50rem;
    }
}

.projecttitlethree{
    font-weight: bolder;
}