@import "../global.scss";

.Skill-container {
    @media (max-width: 768px) {
        padding: 3rem; 
    }

    .Skill__heading {
        @media (max-width: 768px) {
            font-size: 28px;
            line-height: 36px; 
        }
    }

    .Skill__one,
    .Skill__two,
    .Skill__three,
    .Skill__four {
        @media (max-width: 768px) {
            flex-direction: row; 
            align-items: center; 
        }

        img {
            @media (max-width: 768px) {
                width: 4rem;
                height: 4rem; 
                padding: 1rem; 
            }
        }
    }
}
