// // Colors
$main-font-color: #e03400;
$secondary-color: rgb(184, 157, 214);
$footer-color: rgba(86, 55, 123, 1);
$white-color: rgb(253, 244, 244);
$background-color: rgb(241, 190, 181);
$secondary-background-color: rgb(240, 155, 206);


// Fonts
$main-font: Unbounded , "Unbounded Placeholder", sans-serif;
$secondary-font: "Instrument Sans", "Instrument Sans Placeholder", sans-serif;
$normal-font: sans-serif;


// // Colors ->green 
// $main-font-color: #132a13;              // Dark Green
// $secondary-color: #31572c;              // Hunter Green
// $footer-color: #4f772d;                 // Fern Green
// $white-color: #e7ee96;                  // Mindaro
// $background-color: #90a955;             // Moss Green
// $secondary-background-color: #dce292;   // Mindaro (if additional background is needed)