$main-font: rgba(241, 111, 74, 1);
$secondary-color: rgba(117, 78, 164, 1);
$footer-color: rgba(86, 55, 123, 1);
$white-color: rgba(254, 254, 254, 1);
$background-color: rgba(245, 198, 190, 1);

//font

$main-font: "Unbounded" , "Unbounded Placeholder", sans-serif;
$secondary-font : "Instrument Sans", "Instrument Sans Placeholder", sans-serif;
$noraml-font: sans-serif;

