@import "../global.scss";

.header-container {
   display: flex;
   background-color: $white-color;
   font-family: $secondary-font;
   font-size: 18px;
   font-weight: bolder;
   padding: 1rem;
   color: $main-font-color;
   align-items: center;  
}

.header {
   a {
      margin-right: 3rem;
      &:hover{
         text-decoration: underline solid $main-font-color;
      }
   }
}

.logo {
   flex-grow: 1;
   a {
      margin-right: 24.6875rem;
   }
}

.icons{
   a {
      margin-right: 1.5rem;

      img{
         width: 2rem;
         height: 2rem;
      }
   }
}