@import "../global.scss";


@media (min-width: 360px) and (max-width: 1366px) {
    .header-container {
        display: flex;
        background-color: $white-color;
        padding: 0.5rem;
        color:$main-font-color;
    }

    .header {
        a{
            margin-right: 4rem;
        }
    }
    .logo{
        a{
            margin-right: 7rem;
        }
    }
    .icons{
        a{
            margin-right: 1rem;
        }
    }
}

@media (min-width : 335px) and (max-width:740px){

    .header-container {
        display: flex;
        background-color: $white-color;
        padding: 0.5rem;
        color: $main-font-color;
    }

    .header{
        a{
            margin-right: 2rem;
        }
    }
    .logo{
        a{
            margin-right: 4rem;
        }
    }
    .icons{
        a{
            margin-right: 1rem;
        }
    }
}